@import "../../style/variables.scss";
@import "../../style/breaks.scss";

.wrapper {
    max-width: 950px;
    margin: 0 auto
}

.personalData {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 83px 0 45px 0;
    height: auto;

    &__item {
        width: 400px;       
    }    

    &__avatar {

    }
    
    &__info {
        display: flex;
        justify-content: space-between;        
        flex-direction: column;

        & > h2 {
            margin-bottom: 30px;
        }
    }    
}