@import "../../style/variables.scss";
@import "../../style/breaks.scss";

.profile {
    width: 100%;
    margin-bottom: 40px;

    &__container {
        width: 100%;
    }

    .header {
        width: 100%;
        margin-top: 65px;
        gap: 20px;
        display: flex;
        justify-content: space-between; 
        
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            transition: 0.5s;
        }

        .view {
            max-width: 370px;
            width: 30%;

            .photo {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
                padding: 25px 0;
                border-radius: 30px;
                background-color: £fff;
                box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.36);
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    box-shadow: 0 0 6.5pz rgba(0, 0, 0, 0.36);
                }

                img {
                    width: 65%;
                    height: auto;
                }

                &> h2 {
                    padding: 0 10px;
                }
            }

            .link {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 35px;

                & > div {
                    & > a {
                        width: 80px !important;
                        height: 80px !important;

                        & > button {
                            width: 80px;
                            height: 80px;

                            & > svg {
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                }
            }            
        }
    }

    .announcement {
        max-width: 570px;
        padding: 35px 25px;
        width: 35%;
        align-items: center;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.36);

        &:hover {
            box-shadow: 0 0 6.5px rgba(0, 0, 0, 0.36);
        }

        &__wrapper {
            width: 100%;
        }

        &__title {
            width: 100%;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }

        &__text {
            width: 100%;
            margin-top: 25px;
            font-size: 18px;
            text-align: center;
        }

        &__button {
            margin-top: 10px;
            width: 100%;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            background-color: $containButton;
            border-radius: 10px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background-color: $containButton;
                color: #fff !important;
                font-weight: 500;
            }
        }
    }  
    
    .info {
        padding: 30px 25px 10px;
        width: 35%;
        align-items: center;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.36);

        &:hover {
            box-shadow:  0 0 6.5px rgba(0, 0, 0, 0.36);
        }

        &__title {
            font-size: 22px;
            font-weight: 700;
        }

        .rating {
            width: 100%;
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 22px;

            &__value {
                color: #fff;
            }

            .rating__stars {
                max-width: 180px;
                width: 80%;
                margin: 0 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }        

        .reviews {
            width: 100%;
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__line {
                flex-grow: 1;
                height: 3px;
                background-color: #fff;
            }            

            &__link {
                margin-left: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 20px;
            }
        }

        .stat {
            width: 100%;

            &__item {
                width: 100%;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &_name {
                    font-size: 24px;
                }

                &_value {
                    font-size: 100px;
                    color: #000;
                }
            }
        }
    }
}

.section {
    width: 100%;
}

