@import "../../style/variables.scss";

.liItem {
    margin-top: 10px;
    color: #000;
    font-weight: 500;
    font-size: 20px;

    &__Active {
        margin-top: 10px;
        color: #EEE;
        font-weight: 500;
        font-size: 20px;
    }

    &__Active:hover {
        margin-top: 10px;
        color: #555;
        font-weight: 500;
        font-size: 20px;
    }
}


