@import "../../style/variables.scss";
@import "../../style/breaks.scss";

.delivery {
    &>h2 {
        margin-bottom: 24px;
    }

    &__topMenu {
        display: grid;
        grid-template-columns: 2.5fr 2.5fr 2fr;
        gap: 40px;
        margin: 0 0 24px 0;
    }

    &__bottomMenu {
        display: grid;
        grid-template-columns: 3.5fr 2fr 1fr;
        gap: 40px;
        margin: 0 0 46px 0;
    }
}