@import "../../../style/variables.scss";
@import "../../../style/breaks.scss";

.chatWithPeople {
    min-height: 660px;
    max-height: 660px;
    background-color: $subBack;
    border-radius: 0 20px 20px 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 12.5px 0 rgba(0, 0, 0, 0.36);
    overflow: hidden;

    &__topBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #b9bec7;
        padding: 0 0 10px 0;        
    }

    &__buttonBack {
        display: none;

        &>button {
            display: flex;
            background: none;
        }
    }

    &__generalInformation {
        display: grid;
        grid-template-columns: 45px 2fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 20px;
        justify-content: space-between;

        &>img {
            width: 44px;
            height: 44px;
            border-radius: 25px;
            grid-row: span 2;
        }

        & > .namePeople {
            font-size: 16px;
            font-weight: 700;
        }

        & > .condition {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
            color: #fff;
            font-weight: 400;
        }
    }

    &__bottomBar {
        padding: 5px 10px 5px 5px;
        border-radius: 25px;
        box-shadow: -2px 0 12.5px 0 rgba(0, 0, 0, 0.36); 
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 60px;       

        & > img {
            width: 28px;
            height: 28px;
            border-radius: 25px;
        }

        & > input {
            outline: none;
            width: 100%;
            padding: 0 8px;
            font-size: 16px;
        }

        & > .buttonMessanger {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            & > button {
                background: none;
                border-left: 0;
                cursor: pointer;
                display: flex;

                & > img {
                    width: 30px;
                    height: 30px;
                    padding: 0 5px;
                }
            }

            & > .send {
                display: flex;
                border-left: 1px solid #b9bec7;

                & > img {
                    width: 32px;
                    height: 32px;
                    padding: 0 5px;
                }
            }    
            
            & > span {
                display: inline-block;
                width: 1px;
                height: 24px;
                background-color: #b9bec7;
                color: #b9bec7;
                margin:  0 10px;
            }
        }
    }    
}

.view {
    display: block;
}