@import "../../style/variables.scss";
@import "../../style/breaks.scss";

.productCart {
    margin: 72px 120px 108px;
    background-color: #ffc0a1;
    display: flex;
    flex-direction: row;
    padding: 48px 24px;
    gap: 16px;
    border-radius: 60px;
    justify-content: space-between;

    &__previewImages {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__image {
            width: 143px;
            height: 191px;
            object-fit: contain;
        }

        &__imageContainer {
            padding: 40px 70px;
            border: 1px solid #fff;
            border-radius: 30px;
        }
    }

    &__imageContainer {
        width: 411px;
        height: 734px;
    }

    &__image {
        width: 411px;
        height: 734px;
        object-fit: contain;
        border-radius: 60px;
    }

    &__params {
        background-color: #fff;
        border-radius: 60px;
        padding: 40px;

        &__row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 10px;
        }

        &__title {
            font-size: 40px;
            line-height: 48.41px;
            font-weight: 600;
            color: #27213c;
        }

        &__userName {
            font-size: 20px;
            line-height: 24.2px;
            font-weight: 600;
            color: #27213c;
            margin-top: 24px;
            margin-bottom: 24px;
        }

        &__date {
            font-size: 12px;
            line-height: 14.52px;
            font-weight: 400;
            color: #27213c;
        }

        &__rewiew {
            font-size: 20px;
            line-height: 24.2px;
            font-weight: 600;
            color: #ffc0a1;
        }

        &__subtitle {
            font-size: 28px;
            line-height: 33.89px;
            font-weight: 600;
            color: #27213c;

            &__desc {
                font-size: 24px;
                line-height: 29.05px;
                font-weight: 600;
                color: #27213c;
                text-align: right;
            }

            &__descript {
                margin-top: 24px;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.94px;
                color: #27213c;
            }
        }

        &__price {
            font-size: 40px;
            line-height: 48.41px;
            font-weight: 600;
            color: #ffc0a1;
        }

        &__buy {
            background-color: #ffc0a1;
            color: #fff;
            padding: 20px 58px;
            font-size: 24px;
            line-height: 29.05px;
            font-weight: 500;
            border-radius: 20px;
        }        
    }
}

.title {
    font-size: 60px;
    line-height: 72.61px;
    font-weight: 600;
    color: #27213c;
    margin-bottom: 60px;
    
    &__container {
        margin-left: 165px;
        margin-right: 165px;
    }
}
