@import "../../../style/variables.scss";
@import "../../../style/breaks.scss";

.listOfPeople {
    background-color: #E4E8EC;
    padding: 16px;
    border-radius: 20px 0 0 20px;
    max-height: 660px;
    min-height: 660px;

    &__menu {
         margin: 0 0 15px 0;
    }

    // &__box {
    //     max-height: calc(100% - 90px);
    //     overflow: auto;
    //     display: grid;
    //     gap: 5px;
    // }

    &__text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        margin: 0 0 15px 0;
        
        &>h2 {
            font-size: 22px;
            font-weight: 700;
        }

        &>p {
            font-size: 18px;
            font-weight: 700;
        }        
    }    

    &__search {
        background-color: #fff;
        box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.36);
        border-radius: 10px;
        display: flex;

        &>button {
            padding: 9px 10px;
            outline: none;
            cursor: pointer;
            border-radius: 10px 0 0 10px;
            background-color: #fff;

            &>svg {
                width: 20px;
                height: 20px;
            }
        }

        &>input {
            padding: 9px 10px;
            background-color: #fff;
            outline: none;
            border-radius: 0 10px 10px 0;
            width: 100%;
        }
    }   
    
    // &__listPeople {
    //     display: grid;

    //     &>.listPeople__item {
    //         border-radius: 10px;
    //         width: 100%;  
            
    //         &>.listPeople__info {
    //             display: grid;
    //             grid-template-columns: 1fr 2fr 1fr;
    //             grid-template-rows: 1fr 1fr;
    //             justify-content: space-between;
    //             padding: 9px 10px 9px 0;

    //             &>.listPeople__avatar {
    //                 width: 44px;
    //                 height: 44px;
    //                 border-radius: 25px;
    //                 padding: 9px 0px 9px 10px;
    //                 grid-row: span 2;
    //             }

    //             &>.namePeople {
    //                 font-size: 16px;
    //             }

    //             &>.timeMessage {
    //                 display: flex;
    //                 justify-content: flex-end;
    //                 font-size: 12px;
    //                 color: #B9BEC7;
    //                 font-weight: 400;
    //             }

    //             &>.lastMessage {
    //                 white-space: nowrap;
    //                 overflow: hidden;
    //                 text-overflow: ellipsis;
    //                 grid-column: span 2;
    //                 font-size: 12px;
    //                 color: #000;
    //                 font-weight: 400;
    //             }
    //         }
    //     }

    //     &>.listPeople__item_active {
    //         background-color: #fff !important;
    //     }
    // }
}