.echarts {
    width: 80%;
    margin: 100px auto;
    height: 400px;
}

.Admin__Row {
    max-width: 1450px;
    padding: 15px 25px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ce9398;

    div {
        padding: 0 10px;
        text-align: center;
    }

    &_Id {
        width: 290px;
    }

    &_Date {
        width: 150px;
    }

    &_Firstname {
        flex-grow: 1;
    }

    &_Lastname {
        flex-grow: 1;
    }

    &_City {
        width:  270px;
    }

    &_Phone {
        width:  150px;
    }

    &_Email {
        width:  200px;
    }

    &_Block {
        color: red;
        font-weight: 700;
        cursor: pointer;
        width: 20px;
        font-size: 20px;
    }
}