@import '../../style/variables.scss';
@import '../../style/breaks.scss';

.createAnnouncement {
    &__topBar {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin: 83px 0 45px 0;
    }

    &__label {
        height: 100%;
        max-height: 350px;
        max-width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    &__inputFile {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    &__info {
        &>h2 {
            margin-bottom: 35px;
        }

        &>ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 6px;
            width: 370px;
        }
    }

    &__buttonGroup {
        display: grid;
        align-items: center;
        grid-template-columns: 15fr 1fr 1fr;
        margin-bottom: 100px;
        gap: 15px;
    }
}

