@import '../../style/variables.scss';
@import '../../style/breaks.scss';

.safety {
    &>h2 {
        margin-bottom: 18px;
    }

    &__password {
        display: grid;
        grid-template-columns: 5fr 1fr;
        align-items: center;
        gap: 20px;

        &>span {
            height: 3px;
            width: 100%;
            background: #fff;
            border-radius: 25px;
        }

        &>p {
            white-space: nowrap;
            color: #000;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            list-style: none;
            line-height: normal;
            text-decoration: none;
            transition: 0.4s;
            cursor: pointer;
        }
    }
}