@import "../../../style/variables.scss";
@import "../../../style/breaks.scss";

.carouselItem {
    width: 304px !important;
    height: 265px !important;
    object-fit: cover;
}

.catalogItem {
    background-color: #fff;
    height: 458px;
    border-radius: 20px;
    max-width: 334px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0px 0px #fff;
    padding: 18px 14px 37px;  
    
    :hover > & {
        box-shadow: $cardShadow;
    }

    &__preview {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 304px;
        height: 265px;
    }

    &__params {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-top: 12px;

        &__titleBlock {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;    
        }

        &__infoBlock {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &__title {
            font-size: 24px;
            font-weight: 600;
            line-height: 29.05px;
            color: #27213c;
        }

        &__priceTitle {
            font-size: 24px;
            font-weight: 600;
            line-height: 29.05px;
            color: #ffc0a1;
        }

        &__subtitle {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
            color: #586490;
        }

        &__dateTitle {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.52px;
            color: #8c94b2;
            margin-top: 12px;
        }

        &__rewiewTitle {
            font-size: 20px;
            font-weight: 600;
            line-height: 24.2px;
            color: #27213c;
        }
    }
}
