@import '../style/variables.scss';
@import '../style/breaks.scss';

header {
    display: none;
}   

.page404 {
    &__menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 30vh;
        left: 7vw;
    
        &>h1 {
            font-weight: 700;
            font-size: 230px;
            color: #F8C6C9;
        }

        &>p {
            font-weight: 700;
            font-size: 43px;
            color: #F8C6C9;
        }

        &>a {
            background: #F8C6C9;
            color: #000;
            padding: 7px 0;
            border-radius: 15px;
            text-align: center;      
        
            &:hover {
                background: #d19fa3;
                color: #000;
            }
        }
    } 

    &__img {
        display: flex;
        justify-content: flex-end;

        &>img {
            position: absolute !important;
            right: 0 !important;
            width: auto !important;
            height: 100dvh !important;
            left: auto !important;
            z-index: -1 !important;
        }
    }
}

footer {
    display: none;
}
