@import "../../style/variables.scss";
@import "../../style/breaks.scss";

.header {
    background-color: $subBack;
}

.lang {
    width: 30px;
    height: 30px;
}

.langSelect {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.dropdown {
    display: cssDisplay;
    position: absolute;
    background-color: #fff;
    padding: 12px 19px;
    top: 101px    
}

.headerDesktop {
    padding: 31px 0;

    &__menu {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex: 1;
        gap: 40px;
        justify-content: center;
        align-items: center;   
        
        &:nth-child(1) {
            justify-content: flex-start;
        }

        &:nth-child(3) {
            justify-content: flex-end;
        }

        & > p {
            font-weight: 700;
            color: #27213c;        
        }

        & > span {
            font-weight: 400;
            font-size: 24px;
            line-height: 29.05px;
        }

        & > button {
            background: #ffc0a1;
            padding: 12px 14px;
            color: #fff;
            border-radius: 14px;
            cursor: pointer;
            font-size: 20px;
            line-height: 24.2px;
            font-weight: 500;    
        }
    }
}