/* mobile */
$mobile: 767px;

/* portrait */
$tabletPortraitMin: 768px;
$tabletPortraitMax: 1023px;

/* landscape */
$tabletLandscapeMin: 1024px;
$tabletLandscapeMax: 1280px;

/* desktop */
$desktopWide: 1770px;
