@import "./mixins.scss";
@import "./variables.scss";
@import "./breaks.scss";
@import "./ui.scss";
@import "./breaks.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
    background-color: $subBack;
}

body {
    font-family: "Inter", sans-serif;
}

button {
    cursor: pointer;
    transition: 0.5s;
    font-family: "Inter", sans-serif;
}

h1 {
    color: #000;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Inter", sans-serif;
}

h2 {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Inter", sans-serif;
}

h3 {
    font-family: "Inter", sans-serif;
}

h4 {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;    
    padding: 0;
    border: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}