@import "./mixins.scss";
@import "./variables.scss";
@import "./breaks.scss";
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.wrapper {
    margin: 0 110px;
}

.mainButtonPrimary {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-color: $containButton;
    padding: 6px 25px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    height: 50px;

    &:hover {
        color: #fff;
        background-color: $containButton;
    }
}

.mainButtonSecondary {
    border: 3px solid #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 19px;
    border-radius: 15px;
    background-color: $containButton;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.5s;

    &:hover {
        border: 3px solid #00f;
        background-color: $subBack;
    }
}

.secondaryButtonPrimary {
    width: 50px;
    height: 50px;
    background-color: $containButton;
    box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.36); 
    border-radius: 15px;
    transition: 0.5s;
    
    &:hover {
        box-shadow: 0 0 6.5px rgba(0, 0, 0, 0.36); 
    }
}

.inputFilter {
    width: 100%;
    transition: 0.5s;
    font-size: 20px;
    outline: none;
    background: #fff !important;
    border: 2px solid #00f;
    border-radius: 10px;
    color: #000;
    padding: 5px;

    &::placeholder {
        color: $subtitleText;
    }

    &:focus {
        background: #fff !important;
        border: 2px solid #00f;
        color: #000;
    }

    &::placeholder:focus {
        color: $subtitleText;
    }
}

.buttonFilter {
    width: 100%;
    height: 63%;
    cursor: pointer;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    background: $containButton;
    border-radius: 15px;
    padding: 7px;
    margin: 20px 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;    

    &:hover {
        color: #fff;
        background: $containButton;
    }
}

.inputProfile {
    &__placeholder {
        color: $subtitleText;
        font-size: 22px;
        margin-bottom: 6px;
        margin-top: 6px;
    }

    &__input {
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        outline: none;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #00f;
        padding: 10px;
        text-align: center;
        width: 100%;
        letter-spacing: 10px;
        font-weight: 700;
        font-size: 20px;
    }
}

.avatar {
    border-radius: 10px;
    border: 2px solid #00f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    max-height: 500px;
    max-width: 350px;
    width: 100%;

    & > h2 {
        padding: 0px 50px 45px 50px;
    }
}

.ratingPrimary {

}

.ratingSecondary {
    display: none;
    margin-left: 10px;
}