// Background
$mainBack: #ffc0a1;
$subBack: #ffffff;
$modalDarkBack: #4f4f4f87;
$modalLightBack: #d9d9d987;

// Text
$titleText: #27213c;
$subtitleText: #586490;
$whiteText: #fff;
$buttonText: #8c94b2;

// Button
$containButton: #ffc0a1;
$outlineButton: transparent;

// Shadows
$cardShadow: 1px 3px 10px 0px #00000033;