@import "../../style/variables.scss";
@import "../../style/breaks.scss";

.footer {
    background: $mainBack;
    padding: 60px 312px 112px 312px;

    &__container {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        gap: 120px;
    }

    &__icons {
        display: flex;
        gap: 24px        
    }

    &__info {
        flex-direction: row;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        margin-top: 14px;  
        
        & > a {
            font-size: 20px;
            font-weight: 700;
        }

        & > p {
            font-size: 18px;
            color: #fff;
            margin: 0;
        }
    }    

    &__item {
        & > h2 {
            font-size: 28px;
            color: #27213c;
            margin-bottom: 24px;
            font-weight: 500;
            line-height: 33.89px;
        }

        & > a {
            font-size: 14px;
            font-weight: 300;
            margin: 24px 0 22px 0;
        }

        h3 {
            margin-top: 20px;
            font-size: 18px;
            line-height: 21.78px;
            font-weight: 400;
        }
    }
}