@import '../../../style/variables.scss';
@import '../../../style/breaks.scss';

.generalView {
    margin: 50px 0;
    max-height: 860px;
    background-color: #fff;
    box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
}