@import '../../style/variables.scss';
@import '../../style/breaks.scss';

.profileCatalogList {
    &__heading {
        display: flex;
        gap: 5px;

        &>p {
            color: #000;
            font-size: 22px;
            font-weight: 700;
            outline: none;
            transition: 0.5s;
        }

        &>nav {
            margin: 0 0 0 15px;

            &>button {
                color: #000 !important;
                font-size: 22px !important;
                font-weight: 700 !important;

                &:hover {
                    color: #fff !important;
                }
            }

            &>ul {
                margin: 10px 0 0 0px !important;
            }
        }
    }
}