@import '../../style/variables.scss';
@import '../../style/breaks.scss';

.comment {
    margin: 0 0 35px 0;
    grid-column: span 2;

    &:last-child {
        margin: 0 0 120px 0;
    }

    &>p {
        color: #000;
        font-weight: 700;
        width: 100%;        
    }

    &__info {
        margin:  10px 15px;
        display: grid;
        grid-template-columns: 75% 200px;

        &>div:nth-child(2) {
            flex: 4;
            justify-content: flex-end;

            &>div {
                display: none;
            }
        }
    }    

    &__avatar {
        display: flex;
        align-items: center;
        gap: 15px;
        flex: 1;

        &> img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
        }

        &>p {
            font-weight: 700;
            font-size: 20px;
        }
    }
}