@import '../../style/variables.scss';
@import '../../style/breaks.scss';

.topBarRating {
    margin: 50px 0;

    &__text {
        display: flex;
        gap: 15px;
        margin: 0 0 10px 0;

        &>h2 {
            font-size: 28px;
            font-weight: 700;
        }

        &>p {
            font-size: 28px;
            font-weight: 700;
        }
    }
}