.MessagesWrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-right: 10px;
    height: 100%;
    max-height: 500px;
}