@import '../../style/variables.scss';
@import '../../style/breaks.scss';

.filterModal {
    background: #fff;
    width: 500px;
    border-radius: 0px 15px 15px 0;
    border: none;
    overflow-y: auto;
    height: 100vh;

    &__wrapper {
        height: 95vh;
        padding: 20px 30px;
        display: grid;
        grid-template-rows: 1fr 1fr 999999fr 0.5fr;
        gap: 10px;
    }

    &__topMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 60px 0; 
            
        &>p {
            font-size: 40px;
            font-weight: 700;
            color: #000;
        }

        &>button {
            background: none;
            height: 40px;
        }
    }
}