@import "../../../style/breaks.scss";

.catalogMain {
    margin: 0 0 48px 0;

    .catalogList {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin: 0 0 48px 0;
    }
}

.catalogSecondary {
    margin: 46px 0 86px;
    
    .catalogList {
        display: flex;
        gap: 12px;
    }    
}

.catalogMainBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
