@import "../../../style/variables.scss";
@import "../../../style/breaks.scss";

.modal {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    z-index: 9999999;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 0;    

    & > :last-child {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    & > div {
        flex: 1;
        gap: clamp(54px, 66px, 75%);        
    }    

    & > p {
        display: flex;
        justify-content: center;
    }

    &__menu {
        display: flex;
        justify-content: start;
        
        & > button {
            cursor: pointer;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            color: #000;
            background: none;
            display: flex;
            gap: 12px;
            align-items: center;
            transition: 0.4s;
        }
    }

    &__searchResults {
        text-align: center;
        width: 100%;
        flex: 0.5;
    }
}


