@import "../../style/variables.scss";
@import "../../style/breaks.scss";

.Auth {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffc0a1;
    border: 3px solid #8c94b2;
    border-radius: 60px;

    &__title {
        font-size: 36px;
        line-height: 48.41px;
        color: #fff;
        text-align: center;
        margin: 24px 67px 24px;
    }

    &__WrapperTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__WrapperContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 100%;
        border-top-left-radius: 120px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;     
    }

    &__Title {
        font-size: 36px;
        margin-bottom: 24px;
        line-height: 48.41px;
        font-weight: 600;
    }

    &__Input {
        width: 75%;
        font-size: 16px;
        color: #000;
        padding: 10px 45px 10px 16px;
        border: 1px solid #8c94b2;
        border-radius: 20px;

        &:focus {
            outline: none;
        }
    }

    &__Input_Wrapper {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & > div {
            position: absolute;
            right: 16px;
            top: 18px;
            cursor: pointer;
        }
    }

    &__Input__Password {
        margin-top: 12px;
        width: 100%;
        font-size: 16px;
        color: #000;
        padding: 10px 45px 10px 16px;
        border: 1px solid #8c94b2;
        border-radius: 20px;

        &:focus {
            outline: none;
        }
    }

    &__Reset {
        margin-top: 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;

        & > button {
            background: transparent;
            border: 1px solid #fff;
            color: #f00;
            font-weight: 500;
            text-align: center;
            font-size: 14px;
            text-decoration: underline;
            line-height: 16.94px;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__Button {
        margin-top: 12px;
        padding: 10px 0;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 29.05px;
        font-weight: 500;
        background-color: #ffc0a1;
        border-radius: 20px;
        cursor: pointer;
        color: #fff;

        &:hover {
            color: #fff;
            background-color: $containButton;
        }

        &_Disabled {
            background-color: rgba(128, 128, 128, 0.5) !important;
            cursor: default;
        }
    }

    &__noneAcc {
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 500;
        color: #27213c;
        margin-top: 24px;
    }

    &__Regist {
        margin-top: 12px;
        padding: 10px 0;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 29.05px;
        background: transparent;
        border: 1px solid #27213c;
        border-radius: 20px;
        cursor: pointer;
    }
} 

