@import "../../style/variables.scss";
@import "../../style/breaks.scss";

.Confirmation {
    box-sizing: border-box;
    padding: 45px 15px 15px;
    width: 440px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #000;
    border-radius: 23px;
    background-color: #f5f5f5;

    &__Wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__Title {
        font-size: 30px;
    }

    &__Input {
        margin-top: 15px;
        width: 90%;
        font-size: 15px;
        color: #000;
        padding: 10px 15px;
        border: 3px solid #000;
        border-radius: 10px;

        &:focus {
            outline: none;
        }
    }

    &__Text {
        margin-top: 5px;
        width: 100%;

        & > p {
            font-size: 11px;
            color: #000;
        }
    }

    &__Button {
        margin-top: 20px;
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background-color: $containButton;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
        
        &:hover {
            background-color: $containButton;
            color: #fff;
        }
    }
}
