@import "../../style/variables.scss";
@import "../../style/breaks.scss";

.Regist {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #8c94b2;
    border-radius: 60px;
    background-color: #ffc0a1;

    &__Wrapper {
        display: flex;
        flex-direction: column;
        align-items: column;
        padding: 20px 0;
    }

    &__WrapperContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border-top-left-radius: 60px;
        width: 100%;
        gap: 12px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }

    &__title {
        font-size: 36px;
        line-height: 48.41px;
        color: #27213c;
        font-weight: 600;
        padding: 0 71px;
        padding-top: 24px;
    }

    &__Input {
        width: 70%;
        font-size: 15px;
        color: #000;
        padding: 10px 45px 10px 16px;
        border: 1px solid #8c94b2;
        border-radius: 20px;

        &:focus {
            outline: none;
        }
    }

    &__Input_Wrapper {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & > div {
            position: absolute;
            right: 20px;
            top: 21px;
            cursor: pointer;
        }
    }

    &__Input_Password {
        margin-top: 12px;
        width: 100%;
        font-size: 16px;
        color: #000;
        padding: 10px 45px 10px 16px;
        border: 1px solid #8c94b2;
        border-radius: 20px;

        &:focus {
            outline: none;
        }
    }

    &__Text {
        // margin-top: 5px;
        // width: 100%;

        & > p {
            font-size: 11px;
            color: #000;
        }

        & > span {
            font-size: 14px;
            color: red;
        }

        & > div {
            flex-grow: 1;
            border-bottom: 3px solid #000;
        }
    }

    &__Button {
        margin-top: 20px;
        padding: 10px;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background-color: #000;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: rgba(224,180,166,0.7);
        }

        &_Disabled {
            background-color: rgba(128, 128, 128, 0.5) !important;
            cursor: default;
        }
    }
}

.error {
    border-color: red !important;
}
