@import "../../style/breaks.scss";
@import "../../style/variables.scss";

.baner {
    background-color: $mainBack;
    flex-direction: row;
    display: flex;
    gap: 23px;
    padding: 41px 104px;

    &__first {
        width: 50%;
    }

    &__second {
        width: 50%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    &__title {
        color: #fff;
        font-size: 48px;
        line-height: 58.09px;
        font-weight: 600;
    }

    &__rightTitle {
        text-align: right;
        margin-top: 47px;
    }

    &__subtitle 
    {
        color: #fff;
        font-size: 24px;
        line-height: 29.05px;
        font-weight: 400;
        margin-top: 36px;
    }

    &__button {
        background: "transparent";
        border: 2px solid #fff;
        color: #fff;
        padding: 20p 60px;
        margin-top: 46px;
        border-radius: 20px;
        font-size: 24px;
        line-height: 29.05px;
        font-weight: 500;
    }    

    @media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
        .baner {
            background-color: $mainBack;
            flex-direction: row;
            display: flex;
            gap: 23px;
            padding: 41px 104px;

            &__first {
                width: 50%;
            }

            &__second {
                width: 50%;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
            }

            &__title {
                color: #fff;
                font-size: 48px;
                line-height: 58.09px;
                font-weight: 600;
            }

            &__rightTitle {
                text-align: right;
                margin-top: 47px;
            }

            &__subtitle {
                color: #fff;
                font-size: 24px;
                line-height: 29.05px;
                font-weight: 400;
                margin-top: 36px;
            }

            &__button {
                background: transparent;
                border: 2px solid #fff;
                color: #fff;
                padding: 20px 60px;
                margin-top: 46px;
                border-radius: 20px;
                font-size: 24px;
                line-height: 29.05px;
                font-weight: 500;
            }
        }    
    }
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
    .baner__container {
        background-color: $mainBack;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 77px;    
    }

    .baner {
        flex-direction: row;
        display: flex;
        gap: 23px;
        padding: 32px 70px 0;

        &__first {
            width: 50%;
        }

        &__second {
            width: 50%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        }

        &__title {
            color: #fff;
            font-size: 24px;
            line-height: 29.05px;
            font-weight: 600;    
        }

        &__rightTitle {
            text-align: right;
            margin-top: 70px;
        }

        &__subtitle {
            color: #fff;
            font-size: 17px;
            line-height: 20.57px;
            font-weight: 400;
            margin-top: 12px;
        }

        &__button {
            background: transparent;
            border: 2px solid #fff;
            color: #fff;
            border-radius: 20px;
            font-size: 24px;
            line-height: 29.05px;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .baner {
        flex-direction: column;
        display: flex;
        padding: 16px 18px;
        align-items: center;
        gap: 0;
        
        &__title {
            color: #fff;
            font-size: 24px;
            line-height: 29.05px;
            font-weight: 600;
            margin-top: 24px;
        }

        &__rightTitle {
            text-align: right;
            margin-top: 24px;
        }

        &__subtitle {
            color: #fff;
            font-size: 17px;
            line-height: 20.57px;
            font-weight: 400;
            margin-top: 12px;
        }

        &__button {
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 20px;
            font-size: 24px;
            line-height: 29.05px;
            font-weight: 500;
            margin-bottom: 61px;
            margin-top: 40px;
        }
    }
}
